[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
mypy = "*"
cx-freeze = ">=6.2"
autopep8 = "*"

[packages]
fasteners = ">=0.15"
PySide2 = "==5.14.2.3"
watchdog = ">=0.10.3"
cchardet = "==2.1.5"

[pipenv]
allow_prereleases = true
