[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = ">=3.2"
mypy = ">=1.10"
cx-freeze = ">=6.11,<6.13"
autopep8 = ">=2.3"
lief = "==0.15.0"

[packages]
fasteners = ">=0.19"
PySide2 = "==5.15.2.1"
watchdog = ">=4.0.1"
charset-normalizer = ">=3.0.1"

pywin32 = { version=">=306", markers="sys_platform == 'win32'" }
colorama = { version=">=0.4.6", markers="sys_platform == 'win32'" }
patool = { version=">=2.3.0", markers="sys_platform != 'win32'" }
easyprocess = { version=">=1.1", markers="sys_platform != 'win32'" }
patchelf = { version=">=0.17.2.1", markers="sys_platform != 'win32'" }

[pipenv]
allow_prereleases = true

[requires]
python_version = "3.10"
