[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
mypy = "*"
cx-freeze = ">=6"

[packages]
fasteners = ">=0.14"
PyQt5 = ">=5.12"
watchdog = "*"
pywin32 = "==224"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
